body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*************************** query Style *****************************/
.bullets{
  position:relative;
  /*Top and left specified inline because each has a specific position (main.js)*/
  fill:rgba(255, 153, 0, 1.0);
  /*rgba(230, 108, 0, 1.0) same color as logo bu button is different*/
}

.querySelector{
  min-width: 46em;
}

.querySelector img{
  float:left;
}
/* Set up width of the queries (except query type that is done in line in main.js)*/

#queryTimeFrame-button{
  float:left;
}

#fieldset {
  padding: 0em;
  position: relative;
  top:4.35em;
  width:30em;
  left: -2.1em;
  border: 0;
}

.fieldsetTitle{
  position: absolute;
  top: -1.85em;
  left: 1.5em;
  font-size: 1.8em;
}

#fieldset > div{
  position:relative;
}

#fieldset *:focus{
   outline:0;
}

.ui-selectmenu-menu .ui-menu-item{
  background:#ededed
}

.ui-selectmenu-menu .ui-state-focus{
  background:rgba(255, 153, 0, 0.4);
}

#queryTypeDiv{
  left:0em;
  top:-2px;
}

#queryMeasureDiv{
  left:0em;
  top:-2.7em;
}

#queryValueDiv{
  left:0em;
  top:-5.2em;
}

#queryTimeFrameDiv{
  left:0em;
  top:-7.5em;
}

#dateHourDiv{
  top:-7.2em;
  left:0em;
  width:40em;
  padding: 0em;
  height: 0em;
  border: 0;
}

#playbuttonImg{
  position:relative;
  left: -0.5em;
  top: -0.3em;
}

#whiteButtonImg{
  position: relative;
  left: 0.5em;
  top: -2.7em;
}

#queryButtonImg{
  position: relative;
  top: -4.5em;
}

.querySelector #submit{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  background-color: white;
  position: relative;
  border: 0em;
  top: -2.2em;
  left: 1.3em;
  border-radius: 100%;
  height: 3em;
  width: 3em;
}

.querySelector button:focus {
  outline: none;
}

.querySelector .ui-selectmenu-button{
  border:none;
  background: white;
}

.querySelector .ui-selectmenu-text{
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.querySelector .datePicker{
  position:relative;
  width: 5.5em;
  padding: 0.4em;
  background: #f6f6f6;
  border: 0;
  border-radius: 0;
  /*background-color: rgba(82, 135, 206, 0.2);*/
  background-color:rgba(255, 153, 0, 0.4);
  font-size: 0.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

/*.querySelector .ui-menu-item .ui-state-focus{
  background-color:rgba(255, 153, 0, 1.0);
}*/

.querySelector .timePicker{
  position:relative;
  background: #f6f6f6;
  border: 0;
  border-radius: 0;
  /*background-color: rgba(82, 135, 206, 0.2);*/
  background-color:rgba(255, 153, 0, 0.4);
  font-size: 0.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 0.4em;
}

.saveButton{
  position: relative;
  top: -47.9em;
  left: 91em;
  padding: 0.8em;
  background-color: rgba(232, 157, 77, 0.9);
}

.goBack{
  position: absolute;
  top:4em;
  left:6.6em;
}
.mainInfo{
  position: absolute;
  top: -4.1em;
  left: 15em;
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(1.5);
}

.mainInFoText{
  position:absolute;
  top: 1.4em;
  left: 35em;
  width:60em;
  background-color:rgba(255, 153, 0, 0.4);
  padding:5px;
}

.arrowGoBack{
  position: relative;
  float:right;
}

/*************************** END query Style *****************************/

/***************************Application Region Style **********************************/
.applicationRegion{
    margin-left: 2em;
    float: left;
}

.applicationRegion .ui-icon-info{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    position: relative;
    left: -21em;
    top: 0.6em;
}

.queryTextAppRegion{
  width:80em;
}

.topAppRegion{
  display:inline-flex;
  margin-bottom:2em;
  min-width: 96em;
}

#infoDiv-map{
  position: absolute;
  top: 43.4em;
  width: 26em;
  left: 42.2em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding: 5px;
}

#infoDiv-table{
    position: absolute;
    top: 57.5em;
    width: 26em;
    left: 2.6em;
    background: rgba(247, 201, 132, 1);
    border: 1px solid black;
    padding: 5px;
}

#infoDiv-networkSummary{
    position: absolute;
    top: 46em;
    width: 23em;
    left: 0.6em;
    background: rgba(247, 201, 132, 1);
    border: 1px solid black;
    padding: 5px;
}

#infoDashboardDiv-map{
    position: absolute;
    top: 1.4em;
    width: 57em;
    left: 25.2em;
    background: rgba(247, 201, 132, 1);
    border: 1px solid black;
    padding: 5px;
}

#infoDashboardDiv-networkSummary{
    position: absolute;
    top: 37.3em;
    width: 20em;
    left: 2.6em;
    background: rgba(247, 201, 132, 1);
    border: 1px solid black;
    padding: 5px;
}

#infoDashboardDiv-table{
  position: absolute;
  top: 50.3em;
  width: 26em;
  left: 2.6em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding: 5px;
}

#infoDashboardDiv-line{
  position: absolute;
  top: 116em;
  width: 26em;
  left: 32.5em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding: 5px;
}

.NetworkSummary{
    float: left;
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
    border: solid 1px black;
    margin: 0em;
    height: 31.3em;
}

.NetworkSummary .mapTooltipname{
  font-weight: bold;
}

.NetworkSummary .mapTooltipname .mapTooltipDescription{
  text-align: center;
}

.NetworkSummary .mapTooltipname .mapTooltipSize{
  font-weight: bold;
}

.NetworkSummary p {
  margin:0.4em;
}

.NetworkSummary .mapTooltipValueType{
  font-size:1.1em;
  position: relative;
  left: 0.2em;
}

.NetworkSummary .valuesLine{
  position: relative;
  left: -0.6em;
}


.NetworkSummary .mapTooltipValue{
  font-size: 1.7em;
  color:black;
  font-weight: bold;
  text-align: center;
}

.NetworkSummary .Networkmax{
  position: relative;
  left:1em;
}

.NetworkSummary .Networkavg{
  position: relative;
  left:1em;
}

.NetworkSummary .Networkmin{
  position: relative;
  left:1em;
}

.NetworkSummary .mapTooltipDimension{
  color: rgba(52, 100, 222, 1);
  position: relative;
  top:-0.15em;
  font-size:0.9em;
  font-weight: bold;
  text-align: center;
}

.NetworkSummary .mapTooltipScale{
  text-align: center;
  font-size: 1.5em;
}

.NetworkSummary .networkTimeFrame{
  text-align: center;
  font-size: 1em;
}

/*************************** END Application Region Style *****************************/
/*************************** Histogram Style *****************************/
.multipleHistogram{
    position: relative;
    text-align: center;
    max-width: 94em;
}

.multipleHistogram .xAxis{
	font-size: 8px;
}

.multipleHistogram thead{
	background-color:rgba(232, 157, 77, 0.9);
	overflow:visible;
  font-size: 1em;
}

.multipleHistogram .svgLineIn{
    padding-left: 25px;
    padding-bottom: 13px;
    padding-top: 10px;
    padding-right: 26px;
}
.multipleHistogram svg{
    padding-left: 1em;
    padding-right: 1em;
}

.multipleHistogram .svgLineOut{
    padding-left: 25px;
    padding-bottom: 13px;
    padding-top: 23px;
    padding-right: 26px;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display:none;
    background-color:white;
}

.multipleHistogram .bar rect {
  fill: rgba(52, 100, 222, 0.7);
  shape-rendering: crispEdges;
}

.multipleHistogram .xAxis path, .xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.multipleHistogram rect{
  fill: rgba(52, 100, 222, 0.7);
  shape-rendering: crispEdges;
}
.multipleHistogram .totalDataBar{
  fill: rgba(204 ,204, 204, 0.3);
  stroke:#000;
  stroke-width: 1px;
}

.multipleHistogram .lineChartHistogram .line{
  fill: none;
  stroke:rgba(52, 100, 222, 1);
  stroke-width: 0.07em;
}

.multipleHistogram .lineChartHistogram .axis{
  stroke-width:-01em;
}
.multipleHistogram .lineChartHistogram .y{
  stroke-width:0em;
}
.multipleHistogram .lineChartHistogram .ticks{
  stroke-width:0.1em;
}
.multipleHistogram .lineChartHistogram circle{
  fill: none;
  stroke:rgba(52, 100, 222, 1);
}
.multipleHistogram .sampleData line{
  stroke-width:0.1em;
}

.multipleHistogram .histoLegend{
  font-size:1em;
}

.multipleHistogram .histoLegend text .max {
  stroke:rgba(255, 0, 0, 0.3);
}

.multipleHistogram .histoLegend text .avg {
  stroke:rgba(0, 255, 0, 0.3);
}

.multipleHistogram .totalDataText{
  font-size: 1em;
}

.multipleHistogram .totalDataTotalValue{
  font-size: 0.8em;
}

.multipleHistogram .histogramRowName{
  font-size: 1.3em;
}

.multipleHistogram .histogramOriginDestination{
  font-size: 0.6em;
}

.multipleHistogram .links-0-0-col0{
  word-wrap: break-word;
  max-width: 8em;
  min-width: 6em;
}

.multipleHistogram .links-0-0-col5{
  padding-right: 2em;
  padding-left: 2em;
}

.tableTooltip {
    position: absolute;
    text-align: center;
    padding-left:0.4em;
    padding-right:0.4em;
    background: rgba(247, 201, 132, 1);
    /*border: 1px solid black;*/
    pointer-events: none;
    min-width: 17em;
}

.tableTooltip .mapTooltipname{
  font-weight: bold;
  font-size: 1em;
}

.tableTooltip .mapTooltipname .mapTooltipDescription{
  float: left;
}

.tableTooltip .mapTooltipname .mapTooltipSize{
  font-weight: bold;
}

.tableTooltip p {
  margin:0.4em;
}

.tableTooltip .mapTooltipValue{
  font-size: 1.8em;
  color:black;
  font-weight: bold;
}

.tableTooltip .mapTooptipValueIncoming{
  float:left;
}

.tableTooltip .mapTooptipValueOutgoing{
  float:left;
}

.tableTooltip .mapTooltipDimension{
  color: rgba(52, 100, 222, 1);
  position: relative;
  top:-0.15em;
  font-size:1.4em;
  font-weight: bold;
  left:-0.5em;
}

.tableTooltip #mapTooltipTransferDimension{
  color: rgba(52, 100, 222, 1);
  position: relative;
  top:-0.15em;
  font-size:1.4em;
  font-weight: bold;
}

.tableTooltip .mapTooltipValueType{
  font-size: 1.3em;
}

.tableTooltip .mapTooltipValueTypeIncoming{
  float:left;
}

.tableTooltip .mapTooltipScale{
  text-align: center;
  font-size: 2em;
}

.tableTooltip .mapTooltipDimension .mapTooltipTransferDimension{
  margin-bottom: 0em
}

.tableTooltip .textTotalData{
  color: rgba(52, 100, 222, 1);
}
/*************************** END Histogram Style *****************************/
/*************************** LineChart Style *****************************/
#lineChart {
  position:relative;
  float:left;
}

#lineChart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#lineChart .line {
  fill: none;
  stroke-width: 0.1em;
  stroke-opacity:0.7;
}

.lineChartLegendNames{
  stroke-opacity:0.4;
}
/*************************** END Histogram Style *****************************/

/*************************** Map Style *****************************/
.map{
  border: 1px solid black;
  /*width:1215px;*/
  height:500px;
  display: inline-block;
  float:left;
}
.map path {
  stroke: black;
  stroke-width: 0.30px;
  fill: rgba(225,239,224,1);
}

.map .links {
	fill:none;
	stroke: blue;
}

.map .linksPlaceholder{
  fill:none;
  stroke:lightgrey;
  stroke-width:4px;
}

.mapTooltip {
    position: absolute;
    text-align: center;
    padding-left:0.4em;
    padding-right:0.4em;
    background: rgba(247, 201, 132, 1);
    /*border: 1px solid black;*/
    pointer-events: none;
    min-width:35em;
}

.mapTooltip .mapTooltipname{
  font-weight: bold;
  font-size: 1em;
}

.mapTooltip .mapTooltipname .mapTooltipDescription{
  float: left;
}

.mapTooltip .mapTooltipname .mapTooltipSize{
  font-weight: bold;
}

.mapTooltip p {
  margin:0.4em;
}

.mapTooltip .mapTooltipValue{
  font-size: 1.8em;
  color:black;
  font-weight: bold;
}

.mapTooltip .mapTooptipValueIncoming{
  float:left;
}

.mapTooltip .mapTooptipValueOutgoing{
  float:left;
}

.mapTooltip .mapTooltipDimension{
  color: rgba(52, 100, 222, 1);
  position: relative;
  top:-0.15em;
  font-size:1.4em;
  font-weight: bold;
  left:-0.5em;
}

.mapTooltip #mapTooltipTransferDimension{
  color: rgba(52, 100, 222, 1);
  position: relative;
  top:-0.15em;
  font-size:1.4em;
  font-weight: bold;
}

.mapTooltip .mapTooltipValueType{
  font-size: 1.3em;
}

.mapTooltip .mapTooltipValueTypeIncoming{
  float:left;
}

.mapTooltip .mapTooltipScale{
  text-align: center;
  font-size: 2em;
}

.mapTooltip .mapTooltipDimension .mapTooltipTransferDimension{
  margin-bottom: 0em
}

.mapTooltip .textTotalData{
  color: rgba(52, 100, 222, 1);
}

.map .nodes{
  stroke: black;
}

.map .nodesPlaceholder{
  stroke: black;
}

.map .mapLegend{
  font-size: 12px;
}

/*************************** END Histogram Style *****************************/

/*************************** Heatmap Style *****************************/
.heatmap .yAxisLabel{
  font-size: 0.8em;
}

#heatmapTooltip {
    position: absolute;
    text-align: center;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    font-size: 1em;
    background: rgba(247, 201, 132, 1);
    border: 0px;
    pointer-events: none;
}

.heatmapTooltipname{
  font-weight: bold;
}

/*************************** END Heatmap Style *****************************/

/*************************** Dashboard Style *****************************/
.dashboardTitle{
  position: absolute;
  top: 1em;
  left: 3.7em;
  font-size: 1.8em;
}

/*************************** END Dashboard Style *****************************/

/*************************** Sankey Style *****************************/
.sankey .node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}


.sankey .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.sankey .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.sankey .link:hover {
  stroke-opacity: .5;
}

}
/*************************** END Dashboard Style *****************************/