body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*************************** query Style *****************************/
.bullets{
  position:relative;
  /*Top and left specified inline because each has a specific position (main.js)*/
  fill:rgba(255, 153, 0, 1.0);
  /*rgba(230, 108, 0, 1.0) same color as logo bu button is different*/
}

.querySelector img{
  float:left;
}
/* Set up width of the queries (except query type that is done in line in main.js)*/

#queryTimeFrame-button{
  float:left;
}

#fieldset {
  padding: 0em;
  position: relative;
  top:4.35em;
  width:30em;
  left: -2.1em;
  border: 0;
}

.fieldsetTitle{
  position: absolute;
  top: -1.85em;
  left: 1.5em;
  font-size: 1.8em;
}

#fieldset > div{
  position:relative;
}

#fieldset *:focus{
   outline:0;
}

.ui-menu-item{
  background:rgba(255, 153, 0, 0.4);
}

#queryTypeDiv{
  left:0em;
  top:-2px;
}

#queryMeasureDiv{
  left:0em;
  top:-2.7em;
}

#queryValueDiv{
  left:0em;
  top:-5.2em;
}

#queryTimeFrameDiv{
  left:0em;
  top:-7.5em;
}

#dateHourDiv{
  top:-7.2em;
  left:0em;
  width:40em;
  padding: 0em;
  height: 0em;
  border: 0;
}

#playbuttonImg{
  position:relative;
  left: -0.5em;
  top: -0.3em;
}

#whiteButtonImg{
  position: relative;
  left: 0.5em;
  top: -2.7em;
}

#queryButtonImg{
  position: relative;
  top: -4.5em;
}

.querySelector #submit{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  background-color:white;
  position: relative;
  border-style: solid;
  top: -3em;
  left: 1.2em;
  border-radius: 100%;
  height: 3em;
  width: 3em;
}

.querySelector .ui-selectmenu-button{
  border:none;
  background: white;
}

.querySelector .ui-selectmenu-text{
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.querySelector .datePicker{
  position:relative;
  width: 5.5em;
  padding: 0.4em;
  background: #f6f6f6;
  border: 0;
  border-radius: 0;
  /*background-color: rgba(82, 135, 206, 0.2);*/
  background-color:rgba(255, 153, 0, 0.4);
  font-size: 0.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

/*.querySelector .ui-menu-item .ui-state-focus{
  background-color:rgba(255, 153, 0, 1.0);
}*/

.querySelector .timePicker{
  position:relative;
  background: #f6f6f6;
  border: 0;
  border-radius: 0;
  /*background-color: rgba(82, 135, 206, 0.2);*/
  background-color:rgba(255, 153, 0, 0.4);
  font-size: 0.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 0.4em;
}

.saveButton{
  position: relative;
  top: -47.9em;
  left: 91em;
  padding: 0.8em;
  background-color: rgba(232, 157, 77, 0.9);
}

.goBack{
  position: absolute;
  top:4em;
  left:6.6em;
}
.mainInfo{
  position: absolute;
  top: -3em;
  left: 14em;
}

.mainInFoText{
  position:absolute;
  top: 1.4em;
  left: 35em;
  width:60em;
  background-color:rgba(255, 153, 0, 0.4);
  padding:5px;
}

.arrowGoBack{
  position: relative;
  float:right;
}

/*************************** END query Style *****************************/

/***************************Application Region Style **********************************/
.applicationRegion{
}

.queryTextAppRegion{
  width:80em;
}

#infoDiv-map{
  position: absolute;
  top: 24.5em;
  width: 26em;
  left: 0.5em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding:5px;
}

#infoDiv-table{
  position: absolute;
  top: 56em;
  width: 26em;
  left: 0.5em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding: 5px;
}

#infoDashboardDiv-map{
  position: absolute;
  top: 9.2em;
  width: 26em;
  left: 0.5em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding:5px;
}

#infoDashboardDiv-table{
  position: absolute;
  top: 40.8em;
  width: 26em;
  left: 0.5em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding: 5px;
}

#infoDashboardDiv-line{
  position: absolute;
  top: 126em;
  width: 26em;
  left: 2.5em;
  background: rgba(247, 201, 132, 1);
  border: 1px solid black;
  padding: 5px;
}

/*************************** END Application Region Style *****************************/
/*************************** Histogram Style *****************************/
.multipleHistogram{
    border: 1px solid black;
	  font-size: 10px;
    position: relative;
    text-align: center;
}

.multipleHistogram .xAxis{
	font-size: 8px;
}

.multipleHistogram thead{
	background-color:rgba(232, 157, 77, 0.9);
	overflow:visible;
  font-size: 15px;
}

.multipleHistogram .svgLineIn{
    padding-left: 25px;
    padding-bottom: 13px;
    padding-top: 10px;
    padding-right: 26px;
}
.multipleHistogram svg{
    padding-left: 1em;
    padding-right: 0.3em;
}

.multipleHistogram .svgLineOut{
    padding-left: 25px;
    padding-bottom: 13px;
    padding-top: 23px;
    padding-right: 26px;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display:none;
    background-color:white;
}

.multipleHistogram .bar rect {
  fill: rgba(52, 100, 222, 0.7);
  shape-rendering: crispEdges;
}

.multipleHistogram .xAxis path, .xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.multipleHistogram rect{
  fill: rgba(52, 100, 222, 0.7);
  shape-rendering: crispEdges;
}
.multipleHistogram .totalDataBar{
  fill: rgba(204 ,204, 204, 0.3);
  stroke:#000;
  stroke-width: 1px;
}

.tableTooltip {
    position: absolute;
    text-align: center;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    font-size: 1em;
    background: rgba(247, 201, 132, 1);
    border: 0px;
    pointer-events: none;
    font-weight: bold;
}

.multipleHistogram .lineChartHistogram .line{
  fill: none;
  stroke:rgba(52, 100, 222, 1);
  stroke-width: 0.07em;
}

.multipleHistogram .lineChartHistogram .axis{
  stroke-width:-01em;
}
.multipleHistogram .lineChartHistogram .y{
  stroke-width:0em;
}
.multipleHistogram .lineChartHistogram .ticks{
  stroke-width:0.1em;
}
.multipleHistogram .lineChartHistogram circle{
  fill: none;
  stroke:rgba(52, 100, 222, 1);
}
.multipleHistogram .sampleData line{
  stroke-width:0.3em;
}

.multipleHistogram .histoLegend{
  font-size:1.3em;
}

.multipleHistogram .histoLegend text .max {
  stroke:rgba(255, 0, 0, 0.3);
}

.multipleHistogram .histoLegend text .avg {
  stroke:rgba(0, 255, 0, 0.3);
}
/*************************** END Histogram Style *****************************/
/*************************** LineChart Style *****************************/
#lineChart {
  position:relative;
  float:left;
}

#lineChart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#lineChart .line {
  fill: none;
  stroke-width: 0.06em;
  stroke-opacity:0.4;
}

.lineChartLegendNames{
  stroke-opacity:0.4;
}
/*************************** END Histogram Style *****************************/

/*************************** Map Style *****************************/
.map{
  border: 1px solid black;
  width:1215px;
  height:500px;
  display: inline-block;
}
.map path {
  stroke: black;
  stroke-width: 0.30px;
  fill: rgba(225,239,224,1);
}

.map .links {
	fill:none;
	stroke: blue;
}

.map .linksPlaceholder{
  fill:none;
  stroke:lightgrey;
  stroke-width:4px;
}

#mapTooltip {
    position: absolute;
    text-align: center;
    padding:0.4em;
    font-size: 0.8em;
    background: rgba(247, 201, 132, 1);
    border: 0px;
    pointer-events: none;
}

.mapTooltipname{
  font-weight: bold;
}

.map .nodes{
  stroke: black;
}

.map .nodesPlaceholder{
  stroke: black;
}

.map .mapLegend{
  font-size: 12px;
}

/*************************** END Histogram Style *****************************/

/*************************** Heatmap Style *****************************/
.heatmap .yAxisLabel{
  font-size: 0.8em;
}

#heatmapTooltip {
    position: absolute;
    text-align: center;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    font-size: 1em;
    background: rgba(247, 201, 132, 1);
    border: 0px;
    pointer-events: none;
}

.heatmapTooltipname{
  font-weight: bold;
}

/*************************** END Heatmap Style *****************************/

/*************************** Dashboard Style *****************************/
.dashboardTitle{
  position: absolute;
  top: 1em;
  left: 3.7em;
  font-size: 1.8em;
}

/*************************** END Dashboard Style *****************************/

/*************************** Sankey Style *****************************/
.sankey .node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.sankey .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.sankey .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.sankey .link:hover {
  stroke-opacity: .5;
}

}
/*************************** END Dashboard Style *****************************/